


@font-face {
    font-family: $ff-RobotoRegular;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: $ff-RobotoBold;
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}