
$color-white: #fff;
$color-black: #000;
$color-orange : #ff751a;
$color-blue: #3366ff;
$color-grey: #F0F0F0;


$color-task-green: #33cc33;
$color-task-red: #ff3300;
$color-task-orange: #ff6600;



$ff-RobotoRegular: 'Roboto-Regular';
$ff-RobotoBold: 'Roboto-Bold';









